.env
# add the data directory to the ignore list
data/
# ignore the log file
notebooks/
# add the pycache, .vscode, etc.
__pycache__/
.vscode/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log

# ignore the virtual environment
.venv/

# database temp files
chatbot.db-shm
chatbot.db-wal